# Supabase Configuration
# Get these from your Supabase project settings -> API
VITE_SUPABASE_URL=https://uzaqsihxdurxmqpejlwc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6YXFzaWh4ZHVyeG1xcGVqbHdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0OTU2ODIsImV4cCI6MjA5MTA3MTY4Mn0.XyaJ_gDYDCyJ5useiEyqKokJEPX-HrwMqZp9fxxcWFk

# SMS API Configuration
VITE_SMS_API_KEY=HinAILgTYxBzd6JpU59v
VITE_SMS_SENDER_ID=8809617622592
